extends common/layout

block layout-content 
  .main-content 
    h1.page-title Position Listings
    a(href="/addPosition") Add New Position

    table
      thead
        tr
          th Name
          th Position Title
          th Email
          th Role
          th Hire Date
          th Actions
      tbody
        each position in positions
          tr
            td #{position.fullName}
            td #{position.title}
            td #{position.email}
            td #{position.role}
            td #{position.hireDate ? position.hireDate.toISOString().split("T")[0] : "N/A"}
            td.actions
              a(href=`/editPosition/${position._id}`) Edit
              form(action=`/delete/${position._id}` method="POST" style="display:inline")
                button(type="submit") Delete
